@{
    ViewData["Title"] = "Verdun Oil Company";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<div class="et_pb_testimonial_description">

    <h4>A Message from the President</h4>
    <p>“The Energy Industry is an exciting place to work and invest.  While commodity prices may cycle up and down, the opportunities to create value for our stakeholders via discovering new reserves, maximizing recoveries, or improving operational efficiencies, are always plentiful.  The key to identifying and unlocking these opportunities lies, simply, within the core of our organization: the talented group of people who make up Verdun Oil Company; each who is a proven value-creator known for “rolling up his sleeves” and getting things done.   Our vision is clear:  To be the standard against which other E&amp;P companies are measured in terms of operational efficiency, creativity, decision making, corporate responsibility, and profitability.”</p>

    <strong class="et_pb_testimonial_author">Tim Nein</strong>
    <p class="et_pb_testimonial_meta">President &amp; CEO, Verdun Oil Company</p>
</div>

<div class="et_pb_blurb_container">


    <p>Please reach out to us with any questions!</p>
    <blockquote>
        <p>
            <strong>Verdun Oil Company</strong><br />
            55 Waugh Drive<br />
            Suite 400<br />
            Houston, Texas 77007<br />
            Office: (713) 337-9300<br />
            Fax: (713) 800-7444<br />
            <a href="mailto:info@verdunoilco.com">info@verdunoilco.com</a>
        </p>
    </blockquote>

</div>
