@{
    ViewData["Title"] = "Verdun Oil Company";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<div class="et_pb_text_inner"><h1>Privacy Statement</h1></div>
			


    <div class="et_pb_text_inner"><p>
        At Verdun Oil Company, we recognize and respect the privacy of our web visitors. 
        We do not collect personal information about visitors to this website unless it is provided voluntarily. </p>
        <p>Verdun Oil Company collects and maintains statistics about use of this website, 
          which help us track the total number of visitors to the site and to specific parts of the site. </p>
        <p>
            For your convenience, this site contains links to other websites. This Privacy and Terms of Use Statement does not apply to these linked websites. 
            Each website should be checked for its own privacy statement.<br />
            Hilcorp Energy may seek to store some information on your computer when you look at or use the website. The cookie allows us to make the website more efficient for you. 
            If you wish, you may instruct your internet browser to prevent cookies from being used and to delete existing cookies. Please refer to the help guide for your browser for further guidance.<br />
            This site is a general audience site, although it contains information that may be of interest to children. 
        </p>
        <p>If you have any questions about this Privacy and Terms of Use Statement or the personal information Verdun Oil Company may hold about you, 
            please contact <a href="mailto:jchen@verdunoilco.com" target="_blank" rel="noopener noreferrer">webmaster@verdunoilco.com</a>.
    </div>
