@model AssetViewModel

@{
    ViewData["Title"] = "Add Asset";
}

<h4>Add an Asset</h4>

<hr />
<div class="row k-controls">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" id="assetTypeId">
                <label asp-for="AssetTypeId" class="control-label"></label>
                <select asp-for="AssetTypeId" class="form-control" asp-items="ViewBag.AssetTypeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="AssetName" class="control-label"></label>
                <input asp-for="AssetName" class="form-control" />
                <span asp-validation-for="AssetName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Brand" class="control-label"></label>
                <input asp-for="Brand" class="form-control" />
                <span asp-validation-for="Brand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AssetDescription" class="control-label"></label>
                <input asp-for="AssetDescription" class="form-control" />
                <span asp-validation-for="AssetDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuantityOnHand" class="control-label"></label>
                <input asp-for="QuantityOnHand" class="form-control" />
                <span asp-validation-for="QuantityOnHand" class="text-danger"></span>
            </div>

            <div id="partialAttr"></div>

            <div class="form-group">
                <input type="submit" value="Create" class="k-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    @*<button type="button" style='width:150px' value="Back to List" onclick="location.href='@Url.Action("Index", "Asset")'" />*@
    <a class="btn btn-secondary" asp-action="Index">Back to List</a>
</div>

<script type="text/javascript">

    $('#AssetTypeId').on("change", function onChange() {
        var selectedText = $("#AssetTypeId option:selected").text();
        var selectedVal = $("#AssetTypeId").val();
        console.log('--create view selected AssetTypeId=' + selectedVal + ', text=' + selectedText);
        //Make an ajax call its load corresponding attributes
        $.ajax(
            {
                url: '/Asset/GetAssetTypeAttributes?assetTypeId=' + selectedVal,
                type: 'GET',
                data: "",
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    console.log('*****ajax data*****' + data);
                    $("#partialAttr").html(data);
                    
                },
                error: function () {
                    console.log('---error---' + error);
                    alert("error");
                }
            });  
    });
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

@*<div class="form-group">
            <label asp-for="VendorCode" class="control-label"></label>
            <input asp-for="VendorCode" class="form-control" />
            <span asp-validation-for="VendorCode" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ModelName" class="control-label"></label>
            <input asp-for="ModelName" class="form-control" />
            <span asp-validation-for="ModelName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ModelNumber" class="control-label"></label>
            <input asp-for="ModelNumber" class="form-control" />
            <span asp-validation-for="ModelNumber" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="SerialNumber" class="control-label"></label>
            <input asp-for="SerialNumber" class="form-control" />
            <span asp-validation-for="SerialNumber" class="text-danger"></span>
        </div>


        <div class="form-group">
            <label asp-for="PerUnitCost" class="control-label"></label>
            <input asp-for="PerUnitCost" class="form-control" />
            <span asp-validation-for="PerUnitCost" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="ReorderLevel" class="control-label"></label>
            <input asp-for="ReorderLevel" class="form-control" />
            <span asp-validation-for="ReorderLevel" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ReorderTimeInDays" class="control-label"></label>
            <input asp-for="ReorderTimeInDays" class="form-control" />
            <span asp-validation-for="ReorderTimeInDays" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ReorderQuantity" class="control-label"></label>
            <input asp-for="ReorderQuantity" class="form-control" />
            <span asp-validation-for="ReorderQuantity" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Discountinued" class="control-label"></label>
            <input asp-for="Discountinued" class="form-control" />
            <span asp-validation-for="Discountinued" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Notes" class="control-label"></label>
            <input asp-for="Notes" class="form-control" />
            <span asp-validation-for="Notes" class="text-danger"></span>
        </div>
        <div id="attrAsset">

        </div>
        <div class="form-group">
        <label asp-for="CreatedBy" class="control-label"></label>
        <input asp-for="CreatedBy" class="form-control" />
        <span asp-validation-for="CreatedBy" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CreatedDate" class="control-label"></label>
        <input asp-for="CreatedDate" class="form-control" />
        <span asp-validation-for="CreatedDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ModifiedBy" class="control-label"></label>
        <input asp-for="ModifiedBy" class="form-control" />
        <span asp-validation-for="ModifiedBy" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ModifiedDate" class="control-label"></label>
        <input asp-for="ModifiedDate" class="form-control" />
        <span asp-validation-for="ModifiedDate" class="text-danger"></span>
    </div>*@