@model AssetViewModel

@{
    ViewData["Title"] = "Edit";
}

<legend>Update Asset</legend>
<hr />
<form asp-action="Edit" method="post">
    <div class="group-form-row row">
        <div class="col-md-6">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AssetId" />
            <input type="hidden" asp-for="AssetTypeName" />
            <div class="form-group" id="assetTypeId">
                <label asp-for="AssetTypeId" class="control-label"></label>
                <select asp-for="AssetTypeId" class="form-control" asp-items="ViewBag.AssetTypeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="AssetName" class="control-label"></label>
                <input asp-for="AssetName" class="form-control" />
                <span asp-validation-for="AssetName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Brand" class="control-label"></label>
                <input asp-for="Brand" class="form-control" />
                <span asp-validation-for="Brand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AssetDescription" class="control-label"></label>
                <input asp-for="AssetDescription" class="form-control" />
                <span asp-validation-for="AssetDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuantityOnHand" class="control-label"></label>
                <input asp-for="QuantityOnHand" class="form-control" />
                <span asp-validation-for="QuantityOnHand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <textarea asp-for="Notes" class="form-control"></textarea>
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div id="partialAttr">
                @await Html.PartialAsync("_AssetTypeAttributesEdit", Model.AssetTypeAttributeList)
            </div>
        </div>        
    </div>
    <div class="form-group row">
        <input type="submit" value="Update" class="k-primary" />
        
    </div>
</form>

<div class="form-group row">
    <a asp-action="Delete" asp-route-assetId="@Model.AssetId">Delete Asset</a>     
</div>
<div class="form-group row">    
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


@*<div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="AssetId" />
    <div class="form-group">
        <label asp-for="AssetName" class="control-label"></label>
        <input asp-for="AssetName" class="form-control" />
        <span asp-validation-for="AssetName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Brand" class="control-label"></label>
        <input asp-for="Brand" class="form-control" />
        <span asp-validation-for="Brand" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="VendorCode" class="control-label"></label>
        <input asp-for="VendorCode" class="form-control" />
        <span asp-validation-for="VendorCode" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ModelName" class="control-label"></label>
        <input asp-for="ModelName" class="form-control" />
        <span asp-validation-for="ModelName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ModelNumber" class="control-label"></label>
        <input asp-for="ModelNumber" class="form-control" />
        <span asp-validation-for="ModelNumber" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="SerialNumber" class="control-label"></label>
        <input asp-for="SerialNumber" class="form-control" />
        <span asp-validation-for="SerialNumber" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="AssetDescription" class="control-label"></label>
        <input asp-for="AssetDescription" class="form-control" />
        <span asp-validation-for="AssetDescription" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="AssetTypeId" class="control-label"></label>
        <select asp-for="AssetTypeId" class="form-control" asp-items="ViewBag.AssetTypeId"></select>
        <span asp-validation-for="AssetTypeId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PerUnitCost" class="control-label"></label>
        <input asp-for="PerUnitCost" class="form-control" />
        <span asp-validation-for="PerUnitCost" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="QuantityOnHand" class="control-label"></label>
        <input asp-for="QuantityOnHand" class="form-control" />
        <span asp-validation-for="QuantityOnHand" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ReorderLevel" class="control-label"></label>
        <input asp-for="ReorderLevel" class="form-control" />
        <span asp-validation-for="ReorderLevel" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ReorderTimeInDays" class="control-label"></label>
        <input asp-for="ReorderTimeInDays" class="form-control" />
        <span asp-validation-for="ReorderTimeInDays" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ReorderQuantity" class="control-label"></label>
        <input asp-for="ReorderQuantity" class="form-control" />
        <span asp-validation-for="ReorderQuantity" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Discountinued" class="control-label"></label>
        <input asp-for="Discountinued" class="form-control" />
        <span asp-validation-for="Discountinued" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Notes" class="control-label"></label>
        <input asp-for="Notes" class="form-control" />
        <span asp-validation-for="Notes" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CreatedBy" class="control-label"></label>
        <input asp-for="CreatedBy" class="form-control" />
        <span asp-validation-for="CreatedBy" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CreatedDate" class="control-label"></label>
        <input asp-for="CreatedDate" class="form-control" />
        <span asp-validation-for="CreatedDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ModifiedBy" class="control-label"></label>
        <input asp-for="ModifiedBy" class="form-control" />
        <span asp-validation-for="ModifiedBy" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ModifiedDate" class="control-label"></label>
        <input asp-for="ModifiedDate" class="form-control" />
        <span asp-validation-for="ModifiedDate" class="text-danger"></span>
    </div>*@
